# Load train and test dataset with pandas library

In [1]:
# Load required panda package
import pandas as pd

# Load train dataset
train_path = './datasets/fraudTrain.csv'
df_train = pd.read_csv(train_path)

# Get a quick view on train dataset feature and value
print(df_train.head())

#Load test dataset
test_path = './datasets/fraudTest.csv'
df_test = pd.read_csv(test_path)

# Get a quick view on test dataset feature and value
print(df_test.head())

   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2019-01-01 00:00:18  2703186189652095
1           1   2019-01-01 00:00:44      630423337322
2           2   2019-01-01 00:00:51    38859492057661
3           3   2019-01-01 00:01:16  3534093764340240
4           4   2019-01-01 00:03:06   375534208663984

                             merchant       category     amt      first  \
0          fraud_Rippin, Kub and Mann       misc_net    4.97   Jennifer
1     fraud_Heller, Gutmann and Zieme    grocery_pos  107.23  Stephanie
2                fraud_Lind-Buckridge  entertainment  220.11     Edward
3  fraud_Kutch, Hermiston and Farrell  gas_transport   45.00     Jeremy
4                 fraud_Keeling-Crist       misc_pos   41.96      Tyler

      last gender                        street  ...      lat      long  \
0    Banks      F                561 Perry Cove  ...  36.0788  -81.1781
1     Gill      F  43039 Riley Greens Suite 393  ...  48.8878 -118.2105
2  Sanchez      M      594 White Dale Suite 530  ...  42.1808 -112.2620
3    White      M   9443 Cynthia Court Apt. 038  ...  46.2306 -112.1138
4   Garcia      M              408 Bradley Rest  ...  38.4207  -79.4629

   city_pop                                job         dob  \
0      3495          Psychologist, counselling  1988-03-09
1       149  Special educational needs teacher  1978-06-21
2      4154        Nature conservation officer  1962-01-19
3      1939                    Patent attorney  1967-01-12
4        99     Dance movement psychotherapist  1986-03-28

                          trans_num   unix_time  merch_lat  merch_long  \
0  0b242abb623afc578575680df30655b9  1325376018  36.011293  -82.048315
1  1f76529f8574734946361c461b024d99  1325376044  49.159047 -118.186462
2  a1a22d70485983eac12b5b88dad1cf95  1325376051  43.150704 -112.154481
3  6b849c168bdad6f867558c3793159a81  1325376076  47.034331 -112.561071
4  a41d7549acf90789359a9aa5346dcb46  1325376186  38.674999  -78.632459

   is_fraud
0         0
1         0
2         0
3         0
4         0

[5 rows x 23 columns]
   Unnamed: 0 trans_date_trans_time            cc_num  \
0           0   2020-06-21 12:14:25  2291163933867244
1           1   2020-06-21 12:14:33  3573030041201292
2           2   2020-06-21 12:14:53  3598215285024754
3           3   2020-06-21 12:15:15  3591919803438423
4           4   2020-06-21 12:15:17  3526826139003047

                               merchant        category    amt   first  \
0                 fraud_Kirlin and Sons   personal_care   2.86    Jeff
1                  fraud_Sporer-Keebler   personal_care  29.84  Joanne
2  fraud_Swaniawski, Nitzsche and Welch  health_fitness  41.28  Ashley
3                     fraud_Haley Group        misc_pos  60.05   Brian
4                 fraud_Johnston-Casper          travel   3.19  Nathan

       last gender                       street  ...      lat      long  \
0   Elliott      M            351 Darlene Green  ...  33.9659  -80.9355
1  Williams      F             3638 Marsh Union  ...  40.3207 -110.4360
2     Lopez      F         9333 Valentine Point  ...  40.6729  -73.5365
3  Williams      M  32941 Krystal Mill Apt. 552  ...  28.5697  -80.8191
4    Massey      M     5783 Evan Roads Apt. 465  ...  44.2529  -85.0170

   city_pop                     job         dob  \
0    333497     Mechanical engineer  1968-03-19
1       302  Sales professional, IT  1990-01-17
2     34496       Librarian, public  1970-10-21
3     54767            Set designer  1987-07-25
4      1126      Furniture designer  1955-07-06

                          trans_num   unix_time  merch_lat  merch_long  \
0  2da90c7d74bd46a0caf3777415b3ebd3  1371816865  33.986391  -81.200714
1  324cc204407e99f51b0d6ca0055005e7  1371816873  39.450498 -109.960431
2  c81755dbbbea9d5c77f094348a7579be  1371816893  40.495810  -74.196111
3  2159175b9efe66dc301f149d3d5abf8c  1371816915  28.812398  -80.883061
4  57ff021bd3f328f8738bb535c302a31b  1371816917  44.959148  -85.884734

   is_fraud
0         0
1         0
2         0
3         0
4         0

[5 rows x 23 columns]

# Show basic statistical summries of the train / test datasets

In [2]:
# Get dataframe shapes
print('Shape of train dataframe:', df_train.shape)
print('Shape of test dataframe:', df_test.shape)

# Get train data info: count, feature names, data types, missing data counts
print('------------------Train Dataframe info------------------')
print(df_train.info())

# Get statistical summaries for each feature
print('------------------Train Dataframe describe------------------')
print(df_train.describe())

Shape of train dataframe: (1296675, 23)
Shape of test dataframe: (555719, 23)
------------------Train Dataframe info------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  object
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 227.5+ MB
None
------------------Train Dataframe describe------------------
         Unnamed: 0        cc_num           amt           zip           lat  \
count  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06
mean   6.483370e+05  4.171920e+17  7.035104e+01  4.880067e+04  3.853762e+01
std    3.743180e+05  1.308806e+18  1.603160e+02  2.689322e+04  5.075808e+00
min    0.000000e+00  6.041621e+10  1.000000e+00  1.257000e+03  2.002710e+01
25%    3.241685e+05  1.800429e+14  9.650000e+00  2.623700e+04  3.462050e+01
50%    6.483370e+05  3.521417e+15  4.752000e+01  4.817400e+04  3.935430e+01
75%    9.725055e+05  4.642255e+15  8.314000e+01  7.204200e+04  4.194040e+01
max    1.296674e+06  4.992346e+18  2.894890e+04  9.978300e+04  6.669330e+01

               long      city_pop     unix_time     merch_lat    merch_long  \
count  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06  1.296675e+06
mean  -9.022634e+01  8.882444e+04  1.349244e+09  3.853734e+01 -9.022646e+01
std    1.375908e+01  3.019564e+05  1.284128e+07  5.109788e+00  1.377109e+01
min   -1.656723e+02  2.300000e+01  1.325376e+09  1.902779e+01 -1.666712e+02
25%   -9.679800e+01  7.430000e+02  1.338751e+09  3.473357e+01 -9.689728e+01
50%   -8.747690e+01  2.456000e+03  1.349250e+09  3.936568e+01 -8.743839e+01
75%   -8.015800e+01  2.032800e+04  1.359385e+09  4.195716e+01 -8.023680e+01
max   -6.795030e+01  2.906700e+06  1.371817e+09  6.751027e+01 -6.695090e+01

           is_fraud
count  1.296675e+06
mean   5.788652e-03
std    7.586269e-02
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    0.000000e+00
max    1.000000e+00

# Combine train and test dataframes and rename feature names

In [3]:
# Concatenate the two datasets to perform the same data preprocessing
df_combined = pd.concat([df_train, df_test], axis=0)
print('\n Shape of combined dataframe:\n', df_combined.shape)

# Get a list of old feature names
old_feature_names = list(df_train.columns)
print('\n Old feature names:\n', old_feature_names)

# Create a new corresponding feature names
new_feature_names = ['index', 'transaction_time', 'account_number', 'merchant_name', 'category',
       'transaction_amount', 'first_name', 'last_name', 'gender', 'street', 'city', 'state', 'zip',
       'client_latitude', 'client_longitude', 'city_population', 'job', 'birthday', 'transaction_number', 'unix_time',
       'merchant_latitude', 'merchant_longitude', 'is_fraud']

# Create a dictionary to map the old feature names to the new ones
feature_name_dict = {old_feature_names[i]: new_feature_names[i] for i in range(len(old_feature_names))}
print('\n Dictionary of old-new feature names:\n', feature_name_dict)

# Edit col/feature name
df_combined = df_combined.rename(columns=feature_name_dict)
print('\n Combine dataframe with new feature names:\n', df_combined.head(2))

 Shape of combined dataframe:
 (1852394, 23)

 Old feature names:
 ['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category', 'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip', 'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time', 'merch_lat', 'merch_long', 'is_fraud']

 Dictionary of old-new feature names:
 {'Unnamed: 0': 'index', 'trans_date_trans_time': 'transaction_time', 'cc_num': 'account_number', 'merchant': 'merchant_name', 'category': 'category', 'amt': 'transaction_amount', 'first': 'first_name', 'last': 'last_name', 'gender': 'gender', 'street': 'street', 'city': 'city', 'state': 'state', 'zip': 'zip', 'lat': 'client_latitude', 'long': 'client_longitude', 'city_pop': 'city_population', 'job': 'job', 'dob': 'birthday', 'trans_num': 'transaction_number', 'unix_time': 'unix_time', 'merch_lat': 'merchant_latitude', 'merch_long': 'merchant_longitude', 'is_fraud': 'is_fraud'}

 Combine dataframe with new feature names:
    index     transaction_time    account_number  \
0      0  2019-01-01 00:00:18  2703186189652095
1      1  2019-01-01 00:00:44      630423337322

                     merchant_name     category  transaction_amount  \
0       fraud_Rippin, Kub and Mann     misc_net                4.97
1  fraud_Heller, Gutmann and Zieme  grocery_pos              107.23

  first_name last_name gender                        street  ...  \
0   Jennifer     Banks      F                561 Perry Cove  ...
1  Stephanie      Gill      F  43039 Riley Greens Suite 393  ...

  client_latitude client_longitude  city_population  \
0         36.0788         -81.1781             3495
1         48.8878        -118.2105              149

                                 job    birthday  \
0          Psychologist, counselling  1988-03-09
1  Special educational needs teacher  1978-06-21

                 transaction_number   unix_time merchant_latitude  \
0  0b242abb623afc578575680df30655b9  1325376018         36.011293
1  1f76529f8574734946361c461b024d99  1325376044         49.159047

  merchant_longitude  is_fraud
0         -82.048315         0
1        -118.186462         0

[2 rows x 23 columns]

# Analyze class labels with is_fraud feature

In [4]:
# Check uniaue values of is_fraud column
print('\n Unique values:\n', df_train.is_fraud.unique())

# Cound unique values of is_fraud column
print('\n Count unique values:\n', df_train.is_fraud.value_counts())

# Calculate percentage of unique values of is_fraud column
print('\n Percetage of unique values:\n', df_train.is_fraud.value_counts(normalize=True))

# Create dataframe for statistics of fraud labels
df_fraud_stat = pd.DataFrame({'Class': df_train.is_fraud.unique(),
                             'Count': df_train.is_fraud.value_counts(),
                             'Percentage': df_train.is_fraud.value_counts(normalize=True)})
print('\n Dataframe for fraud labels:\n', df_fraud_stat)

 Unique values:
 [0 1]

 Count unique values:
 0    1289169
1       7506
Name: is_fraud, dtype: int64

 Percetage of unique values:
 0    0.994211
1    0.005789
Name: is_fraud, dtype: float64

 Dataframe for fraud labels:
    Class    Count  Percentage
0      0  1289169    0.994211
1      1     7506    0.005789

# Feature engineering techniques on the credit card transaction dataset

In [8]:
import numpy as np
# Convert transaction_time from string to datetime type. Add transaction date, hour, month to combined dataframe
df_combined.transaction_time = pd.to_datetime(df_combined.transaction_time)
df_combined['transaction_date'] = df_combined.transaction_time.dt.strftime('%Y-%m-%d')
df_combined['transaction_hour'] = df_combined.transaction_time.dt.strftime('%H')
df_combined['transaction_month'] = df_combined.transaction_time.dt.strftime('%m')

# Convert transaction_birthday from string to datetime type. Add 'birthday_date' and 'age' features to combined dataframe
df_combined.birthday = pd.to_datetime(df_combined.birthday)
df_combined['birthday_date'] = df_combined.birthday.dt.strftime('%Y-%m-%d')
df_combined['age'] = (df_combined.transaction_time - df_combined.birthday).astype('timedelta64[Y]')

# calculate transaction distance 
distance_trans_longitude = df_combined.merchant_longitude - df_combined.client_longitude
distance_trans_lattitude = df_combined.merchant_latitude - df_combined.client_latitude
distance_trans = np.sqrt(distance_trans_longitude**2 + distance_trans_lattitude**2)

# Add distance features to combined dataframe
df_combined['transaction_longitude_distance'] = distance_trans_longitude
df_combined['transaction_lattitude_distance'] = distance_trans_lattitude
df_combined['transaction_distance'] = distance_trans

# Create age_interval function
def age_interval(x):
    """
    Binning age values to categorical ones with 5 categories:
    'Less than 20', 'Between 20 and 30', 'Between 30 and 40', 
    'Between 40 and 50', 'Between 50 and 60' and 'Larger than 60'
    """
    if x < 20:
        return "Less than 20" 
    elif x >=20 and x < 30:
        return "Between 20 and 30"
    elif x >=30 and x < 40:
        return "Between 30 and 40"
    elif x >=40 and x < 50:
        return "Between 40 and 50"
    elif x >=50 and x < 60:
        return "Between 50 and 60"
    else: 
        return "Larger than 60"

# Create rename function for gender feature
def gender_rename(x):
    """
        Rename gender value: 'M' to 'Male' 
        and 'F' to 'Female'
    """
    if x == 'M':
        return "Male" 
    else: 
        return "Female"
    
# Create 'age_intervals' 
df_combined['age_intervals'] = df_combined.age.map(lambda x : age_interval(x))

# Rename gender values
df_combined['gender'] = df_combined.gender.map(lambda x : gender_rename(x))

# Get and save preprocessed train and test dataframes

In [10]:
# Get the lenth of train dataset
train_samples_len = df_train.shape[0]

# Get preprocessed train and test dataframes
df_train_preprocessed = df_combined.iloc[:train_samples_len, :]
df_test_preprocessed = df_combined.iloc[train_samples_len:,:]

# Save the preprocessed dataframes into new corresponding csv files for further analyze later
df_train_preprocessed.to_csv('./datasets/df_train_preprocessed.csv')
df_test_preprocessed.to_csv('./datasets/df_test_preprocessed.csv')